---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Jeanne"
desc="About Jeanne">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>About Jeanne</h1>
        About your practitioner

        <p><img src="../img/jeannes-150x150.jpg" alt="" />
            jeannes For many years I was a primary teacher before becoming interested in Alternative
            therapies and commencing training.
        </p>
        
        <p>Since then the world of Alternative therapies has become my passion.</p>
        
        <p>
            My own stress took me to the work of Louise Hay and having experienced the beneﬁts for
            myself I knew I had to introduce others to this brilliant work. This culminated in me
            becoming a Louise Hay ‘Heal Your Life’ course leader in 1995 and then to receiving the
            Reiki attunements and becoming a Reiki Practitioner and Master, teaching others on the
            Reiki path.
        </p>
        
        <p>
            The Metamorphic technique followed and after training with Gaston St Pierre I become a
            practitioner in 1999.
        </p>
        
        <p>
            As my interest in Alternative therapies grew I was introduced to Resonance Repatterning
            and my passion to learn more about this cutting edge therapy was fuelled. Hence my
            training began and in 2003 I became a certiﬁed practitioner. New information is constantly
            being garnered and each practitioner constantly evolving by completing extra training
            within each 24 month period
        </p>.
        
        <p>
            My curiosity never satisﬁed, the new and exciting therapy of EFT, Emotional Freedom
            Technique has now also been added to the list of therapies which I practise for the beneﬁt
            of clients.
        </p>
        </div>
        </main>
        </Layout>