---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Cookie Policy"
desc="Cookie Policy">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>Cookie Policy</h1>
        </div>
        </main>
        </Layout>