---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Cookie Policy"
desc="Cookie Policy">
    <main>
		<div class="format lg:format-lg mx-auto">
      <h1 class="">Cookie Policy</h1>
    <p>This Cookie Policy sets out the basis on which onlywellbeing.com, use cookies and similar technologies on or in relation to this website.</p>
    <h3>What are Cookies?</h3>
    <p>Cookies are small pieces of information, stored in simple data files, and placed on your computer by websites. Any and all cookies types can be removed at any time by adjusting browsers settings.</p>
    <p>They can be used for a variety of purposes including customising user experience while navigating the website and storing user preferences.</p>
    <h3>Cookie Types</h3>
    <p>Cookies are classified into essential and non-essential.</p>
    <p>Essential cookies are those required by the site software for the correct operation of the site.</p>
    <p>Non-essential cookies are those used by analytical or advertising or similar software.</p>
    <p>Session cookies persist only for the length of time the browser window remains open.</p>
    <p>Persistent cookies remain for a specific length of time.</p>
    <h3>First and Third Party Cookies</h3>
    <p>First Party Cookies are placed by our website domain. Third party cookies are placed by third party domains. Further information about cookies can be obtained from <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>.</p>
    <p>If in the future analytical or other cookies types are used this policy document will be updated to reflect policy changes.</p>
    <h3>Accepting or Rejecting Cookies</h3>
    <p>Privacy is an important issue and many browsers allow 'incognito mode'. Which not only limits data placed on the browsing device and removes persistent cookies.</p>
    <p>For more information refer to browser support, links for popular browsers are listed below.</p>
    <p>Firefox - <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></p>
    <p>Google Chrome &#8211; <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=en">https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=en</a></p>
    <p>Microsoft Edge &#8211; <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</a></p>
    <p>Apple Safari &#8211; <a href="https://support.apple.com/en-gb/HT201265">https://support.apple.com/en-gb/HT201265</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
        </div>
        </main>
        </Layout>