---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Emotional Freedom Technique"
desc="EFT (Emotional Freedom Technique) EFT sessions. Release unwanted emotions, Update old belief systems, Imprint new habits">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>EFT Emotional Freedom Technique</h1>
        <p><img class="float-left" src="../img/e1.jpg" alt="eft" />
            EFT is a very simple but powerful process which is rapidly gaining popularity and credibility
            as a means of helping people release their problems, providing effective relief for many
            issues, and enabling people to move forward and feel better about themselves and their
            futures.
        </p>
        <p>
            The belief behind EFT is that emotional upsets are the result of imbalances in the body’s
            energy system often brought about by past negative situations, negative emotions and or
            limiting beliefs from the past.
        </p>
        
        <p><img class="float-right" src="../img/e3-220x300.jpg" alt="Good News" />
            Based on ancient acupressure and modern psychology, EFT consists of tapping with your
            fingers on certain meridian points of your body such as hands, forehead and temples
            whilst focusing on negative emotions or physical sensations.
            Combining this with speaking affirmations and positive spoken words can restore the
            balance of energy in the body and improve life on so many levels.
            It can provide effective relief for fears and phobias, anxiety of all kinds, stress, emotional and relationship issues as well as unresolved issues from the past.
        </p>
        
        <p><img class="block mx-auto" src="../img/e2-200x300.jpg" alt="" />
            Jeanne is a member of AAMET, the Association of the Advancement of Meridian
            Techniques.To learn more or book an appointment prices etc contact Jeanne 
            North West England 07804471934
            Spain, Costa del Sol 635785106
            Sessions also available by phone or by Skype, Whats app or Messenger
        </p>
        </div>
        </main>
</Layout>