---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Heal Your Life"
desc="Heal your life - Louise Hay classes">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>Heal Your Life</h1>
<img class="block mx-auto" src="../img/h1.jpg" alt="heal your life" />
        <h3>Louise Hay, Heal Your Life Courses and Workshops</h3>
        <p>Learn how our thoughts and words create our future and in doing so discover how to change our words and become aware of our thoughts so we experience life for the better.</p>
        
        <p>
            For individual sessions or to arrange or find details about upcoming
            workshops <a href="/contact/">contact</a> Jeanne
            North West England 07804471934
            Also available by Skype, phone or online sessions.
            
        </p>
        
        </div>
        </main>
</Layout>