---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Holistic Treatments including, Reiki, Resonance Repatterning and EFT"
desc="Relax, restore, rebalance, exceptional holistic courses and treatments, empower your own healing">
	<main>
		<div class="format lg:format-lg mx-auto">
		<h1>Holistic Therapies</h1>
		


<p>To feel more ‘well-being’ in any area of your life is something most people would desire.
If this is true of you,
Jeanne of ‘onlywellbeing.com is trained in holistic therapies deigned to bring emotional relief, calmness, de-stressing and an ability to see the bigger picture back into your life.</p>

<p>A therapist with over twenty years of experience Jeanne offers:</p>
<h2>Resonance Repatterning</h2>
<img src="img/g2-150x150.jpg" alt="resonance repatterning" />
<p>Resonance Repatterning works on the belief that we and everything around us, is, in fact, a pulsing field of energy.</p>
<p>Therefore our good health, harmonious relationships, and the success and pleasure we receive from our life and our work are determined by the state of our energy, or frequency patterns going out from us  affecting the life we experience for better or worse. When we are in sync with our optimal range we are happy, full of energy and can move through difficulties with a sense of ease, when  we out of sync our experience is much more negative.</p>
<p>Just like trying to find a particular Radio programme we have to be on the right wave band to experience what we want in life.</p>

<p>Many of our problems or our inability to succeed or move forward in life have at their core old beliefs or experiences, often from childhood, mostly forgotten or unconscious but still taking their toll.</p>

<p>Through the use of muscle testing and the RR process these old beliefs can be safely identified and transformed so we can move into coherence for achieving our positive intentions, achieving our best and freeing ourselves from our fears, enabling us to live with more joy, peace of mind, love and health.</p>

<p>Modalities for creating this transformation may include movement, colour, light, sound, breathing patterns, acupressure points as well as many others.</p>

<p>
	The underlying principles of Resonance Repatterning® are not new, having been taught in the ancient wisdom of India and other cultures, but what is exciting is that these ideas are now being validated through Scientific research in Quantum Physics.
</p>
	<h3>Emotional Freedom Technique – EFT</h3>

<p><img src="img/e2-150x150.jpg" alt="eft" />
	EFT is a very simple but powerful process which can
	help people release their problems,  providing effective relief for many
	issues and enabling people to move forward and feel better about themselves and their
	futures.
</p>

<p>
	EFT works on the premise that emotional upsets are the result of imbalances in the body’s
	energy system often brought about by past negative situations, negative emotions and or
	limiting beliefs from the past.
</p>

<p>
	Based on ancient acupressure and modern psychology, EFT consists of tapping with your
	fingers on certain meridian points of your body such as hands, forehead and temples
	whilst focusing on negative emotions or physical sensations.
	Combining this with speaking affirmations and positive spoken words can restore the
	balance of energy in the body and improve life on  many levels.
	It can provide effective relief for fears and phobias, anxiety of all kinds, stress, emotional and relationship issues as well as unresolved issues from the past.
</p>
<h3>The Metamorphic Technique</h3>
<p><img src="img/m2-150x150.jpg" alt="metamorphic technique" />
	The Metamorphic Technique is a simple tool that enables us to access more of our
	own potential.
	Self empowering It helps us to help ourselves and to steer our own path.
</p>

<p>The practitioner uses a light touch on the feet, hands and head providing a safe relaxing place where you can ‘just be’. Each of us has innate, natural abilities we can connect with, given the right environment. The practitioner provides that space.</p>

<p>
	People are often drawn to the technique in times of stress or difficulties and many
	find they cope better in these periods of transition.
	Some may wish to make deep inner changes without having to analyse the past,
	others find that in times of stress they are able to deal with situations more
	effectively.
</p>

<p>
	The technique is completely safe for everyone, including pregnant women and can be used alongside
	conventional or complimentary approaches.
</p>

<p>Children often love to have their feet done, if for short periods of time.</p>

<p>
	Parents with young children visiting a practitioner are encouraged to share the sessions and shown how to continue to use the technique at home. Many children who suffer with various chronic disabilities or learning difficulties really enjoy receiving sessions.
	
</p>
<h3>Angelic Reiki including Usui Reiki sessions and attunements</h3>
<p><img src="img/reiki2-150x150.jpg" alt="reiki" />
	Rei in Japanese means Higher Power or Gods Wisdom, Ki- means Life Force Energy.
	Therefore Reiki is vital life energy which can be activated for healing.
</p>

<p>
	As a Reiki therapist Jeanne channels this energy through her hands to the client, hence
	activating the body ‘s natural ability to heal itself, and as a Reiki Master / Teacher
	passes this Energy on to others who wish to learn to use the energy themselves.
</p>

<p>
	Reiki Energy goes to wherever it is needed most. It is generally experienced as a
	pleasant sensation of warmth, coolness, or gentle tingling in the area being treated.
	As the energy comes into balance, stress and tension can be released to give a deep
	sense of relaxation and a feeling of well- being.
</p>

<p>
	It is completely safe for all age groups including pregnant women and will compliment most kinds of medication and other
	treatments.
	Reiki is a safe, natural holistic way of treating illness, healing energy in the truest
	sense.
</p>

<p>
	A session lasts approximately one hour and is done with the client sitting or lying
	down while the therapist places her hands over various positions of the body, there is
	no need to remove clothing.
	sailing and sunsetLouise Hay, Heal Your Life Workshops
</p>

<p>Learn how to use affirmations and our emotions to change our words and negative thought patterns which may be keeping us from living life at our optimal, happy best.</p>

<p>Individual and group workshops available.</p>
<p>How to Book a Session</p>

<p>To book a session or learn more about any of the therapies offered contact Jeanne.</p>

<p>
	Jeanne now divides her time between East Lancashire and the Costa del Sol and practises in both areas.
	Resonance Repatterning and EFT sessions available by Skype or phone anywhere in the world.
</p>

<h3>About Jeanne</h3>
<p><img src="img/jeannes-150x150.jpg" alt="jeanne" />
	After spending much of her life teaching in Primary schools and whilst still working Jeanne began her own inner and transformative journey into the field of Holistic Therapies, until today she is able to help others find more inner peace and  well being within themselves.</p>

		</div>
	</main>
</Layout>

