---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Metamorphic Technique"
desc="The method is based on the belief that a person’s physical and psychological profiles develop in utero, and hinges on massaging specific parts of the foot, hand, head and ear, with the intent of loosening prenatal patterns">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>Metamorphic Technique</h1>
        <p>
            The Metamorphic Technique is a simple tool that enables us to access more of our
    own potential.
    Self empowering It helps us to help ourselves and to steer our own path.
        </p>

<p>
    People are often drawn to the technique in times of stress or difficulties and many
    find they cope better in these periods of transition.
    Some may wish to make deep inner changes without having to analyse the past,
    others find that in times of stress they are able to deal with situations more
    effectively.
</p>
<p><img class="block mx-auto" src="../img/m3.jpg" alt="" />
    The practitioner uses a light touch on the feet, hands and head
    providing a safe relaxing place where you can “just be”.
    Each of us has innate, natural abilities we can connect with, given the right
    environment.</p>

    <p><img class="block mx-auto" src="../img/m1.jpg" alt="" />
        The practitioner provides that space.
        The technique is completely safe for everyone, and can be used alongside
        conventional or complimentary approaches.
        Pregnant women can receive sessions with absolute safety for as diverse
        characteristics start to evolve in the time before birth, the technique can create a
        safer environment in the womb for the baby to develop and both mother and unborn
        child can benefit from the sense of well-being that arises from this work.</p>

        <p>
            Children love to have their feet done, often for short periods of time and parents
            with young children visiting a practitioner are encouraged to share the sessions and are
            shown how to continue to use the technique at home. Many children who suffer with
            various chronic disabilities or learning difficulties really enjoy receiving sessions.</p>

            <p><img class="block mx-auto" src="../img/m2.jpg" alt="butterfly" />
                Each session lasts approximately 1 hour, to find out more or to book a session
                contact Jeanne;N.W. England 07804471934 .Spain Costa del Sol 635785106
                </p>
        </div>
        </main>
</Layout>