---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Privacy Policy"
desc="Privacy Policy">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>Privacy Policy</h1>
        </div>
        </main>
        </Layout>