---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Privacy Policy"
desc="Privacy Policy">
    <main>
		<div class="format lg:format-lg mx-auto">
      <h1 class="">Privacy Policy</h1>
   
    
    <p>This document sets out how data is collected and stored about the user related to this site, onlywellbeing.com.</p>
    <p>Data Controller: Jeanne Wearing</p>
    <h3>How Information is Collected</h3>
    <ul>
    <li>By completing our request form</li>
    </ul>
    <h3>Information Collected</h3>
    <ul>
    <li>By using the contact request form the information collected is all the items listed on the form with the addition of IP address. Those form fields are composed of name, contact email address and subject. Additional information may be provided as the user may consider relevant.Additionally the IP address is logged and in <strong>all</strong> cases the user is sent a copy by email of the information collected.</li>
    <li>Request information is recorded by server logs. Server logs include date and time, IP address, pages accessed, referral link if relevant, name of browser used and operating system. This information storage by logs is standard procedure by all web servers.</li>
    </ul>
    <h3>How your Information is used</h3>
    <p>The information provided is used store customer contact details.</p>
    <h3>Legal basis for OnlyWellBeing processing customer personal data</h3>
    <p>OnlyWellBeing collects and uses customers’ personal data because is it necessary for:</p>
    <p>&#8211; the pursuit of our legitimate interests (as set out below);</p>
    <p>&#8211; the purposes of complying with duties and exercising rights under a contract for the sale of services to a customer; or</p>
    <p>&#8211; complying with legal obligations.</p>
    <p>&nbsp;</p>
    <h3>Legitimate interests</h3>
    <p>The normal legal basis for processing customer data, is that it is necessary for the legitimate interests of OnlyWellBeing, including:-</p>
    <p>&#8211; selling and supplying  services to customers;</p>
    <p>&#8211; protecting customers, maintaining their safety, health and welfare;</p>
    <p>&#8211; promoting, marketing and advertising services;</p>
    <p>&#8211; improving existing services and developing new services;</p>
    <p>&#8211; complying with our legal and regulatory obligations;</p>
    <p>&#8211; handling customer contacts, queries, complaints or disputes;</p>
    <p>&nbsp;</p>
    <h3>Information Disclosure to Third Parties</h3>
    <p>Disclosure to third parties is limited to the extent which is required to fullfil a contract or as may be required by law</p>
    <p>Information may be exposed to service providers such as email, telephone, hosting.</p>
    <p>Under no circumstances is your personal information sold to third parties</p>
    <h3>Necessary Information Disclosure</h3>
    <p>Disclosure of personal information my be required by law:</p>
    <ul>
    <li>Suspicion of criminal act or threat to public safety</li>
    <li>Enforcement of legal rights</li>
    <li>Under the circumstance of legal dispute or proceedings</li>
    </ul>
    <h3>Term of Information Retained</h3>
    <p>Information retention is kept to a minimum and absolutely no longer than necessary. Such information as may be required by taxation and other authorities as dictated by their requirements.</p>
    <p>Server log data is retained for one year.</p>
    <p>Where a contract has been executed, information is retained for a period of six years after the conclusion of the financial year in which it was executed.</p>
    <p>Correspondence involving the negotiation of a service will be retained for as long as the enquiry remains unresolved. and for a further six months and then deleted.</p>
    <p>&nbsp;</p>
    <h3>Information Security</h3>
    <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
    <p>All reasonable measures have been taken to ensure industry standard security implementations are in place including a domain TLS (SSL) certificate. The said certificate permits secure (encrypted) two way communication between site user and site server. Depending on the browser (Google Chrome, Firefox etc) an indication of a secure connection by mounting a green / grey padlock at the beginning of the site address. Or by making no indication unless the connection is considered not secure.</p>
    <h3>Information Transfer Outside European Economic Area</h3>
    <p>No information is deliberately transferred outside the EEA, data is stored in a secure location in the UK.</p>
    <p>However, service providers ( email etc) may store information in the United States of America</p>
    <h3>Automated Decision Making and Profiling</h3>
    <p>No use is made of this technology.</p>
    <h3>Sensitive Personal Information</h3>
    <p>No attempt is made to collect information of this nature.</p>
    <h3>Your Rights in Relation to Your information</h3>
    <h4>You have the following rights:</h4>
    <ul>
    <li>the right to ask for a copy of personal data held about you (the right of access);</li>
    <li>the right to request that we delete personal data held on you; where we no longer have any legal reason to retain it (the right to be forgotten);</li>
    <li>the right to request update and correct any out-of-date or incorrect personal data held about you (the right of rectification);</li>
    <li>the right to ask us to ‘restrict processing of data’; which means that we would need to secure and retain the data for your benefit but not otherwise use it (the right to restrict processing); and</li>
    <li>the right to ask us to supply you with some of the personal data we hold about you in a structured machine-readable format and/or to provide a copy of the data in such a format to another organisation (the right to data portability).</li>
    <li>If you wish to exercise any of the above rights, please the contact details set out above.</li>
    </ul>
    <p>You also have the right to lodge a complaint with a supervisory authority, in particular in the Member State of your habitual residence, place of work or of an alleged infringement of the General Data Protection Regulation.</p>
    <p>&nbsp;</p>
        </div>
        </main>
        </Layout>