---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Reiki"
desc="Reiki healing, personal life coaching, offering reiki classes, reiki training.">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>Reiki</h1>
<p><img src="../img/angel-150x150.jpg" alt="angel" />
    Rei in Japanese means Higher Power or Gods Wisdom, Ki- means Life Force Energy.
    Therefore Reiki is vital life energy which can be activated for healing.</p>
    <p>As a Reiki therapist Jeanne channels this energy through her hands to the client, hence
        activating the body's natural ability to heal itself, and as a Reiki Master / Teacher
        passes this Energy on to others who wish to learn to use the energy themselves.</p>
        <p><img class="block mx-auto" src="../img/reiki2.jpg" alt="" />
            Reiki Energy goes to wherever it is needed most. It is generally experienced as a
            pleasant sensation of warmth, coolness, or gentle tingling in the area being treated.
            As the energy comes into balance, stress and tension can be released to give a deep
            sense of relaxation and a feeling of well- being.</p>

         <p><img class="block mx-auto" src="../img/reiki3.jpg" alt="" />
            It is completely safe for all age groups including pregnant women and will compliment most kinds of medication and other
            treatments.
            Reiki is a safe, natural holistic way of treating illness, healing energy in the truest
            sense.</p>
            
            <p><img class="block mx-auto" src="../img/reiki1-300x199.jpg" alt="" />
                A session lasts approximately one hour and is done with the client sitting or lying
                down while the therapist places her hands over various positions of the body, there is
                no need to remove clothing.</p>
        </div>
        </main>
        </Layout>