---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Resonance Repatterning"
desc="Resonance Repatterning works on the belief that we and everything around us, is, in fact, a pulsing field of energy.">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>Resonance Repatterning</h1>

        <p><img src="../img/rrp-150x150.jpg" alt="resonance repatterning" />
            Resonance Repatterning® RR is a wonderful process for positive change that can be applied to any personal, relationship or professional problem or situation.</p>

<p>Going straight to the source of the problem Resonace Repatterning can result in</p>
<ul>
 <li>  :Physical, emotional and mental well- being</li>
 <li>  :Enable you to resonate with and achieve your positive intentions</li>
 <li>   :Allow for growth and harmony in relationships</li>
 <li>   :Change your resonance with the negative beliefs and attitudes you carry which may</li> underlie your difficulties or problems
</ul>
<h3>How Resonance Repatterning Works®</h3>

<p><img class="block mx-auto" src="../img/g4.jpg" alt="smooth water" />
    Resonance Repatterning works on the belief that we and everything around us, is, in fact, a pulsing field of energy.</p>

<p>
    Therefore our good health, harmonious relationships, and the success and pleasure we receive from our life and our work are determined by the state of our energy, or frequency patterns going out from us thus determining the life we experience for better or worse. When we are in sync with our optimal range we are happy, full of energy and can move through difficulties with a sense of ease. When we are out of sync our experience is much more negative.
    Just like trying to find a particular Radio programme we have to be on the right wave band to experience what we want in life.
</p>
<p>
    <img class="block mx-auto" src="../img/g3.jpg" alt="Car Stereo - Adjusting the Volume" />
    Many of our problems or our inability to succeed or move forward in life have at their core old beliefs or experiences, often from childhood, mostly forgotten or unconscious but still taking their toll.
</p>
<p><img class="block mx-auto" src="../img/g1.jpg" alt="headache" />
    Through the use of muscle testing and the RR process these old beliefs can be safely identified and transformed so we can move into sync or coherence for achieving our positive intentions, achieving our best and freeing ourselves from our fears, enabling us to live with more joy, peace of mind, love and health.</p>

<p><img class="block mx-auto" src="../img/g2.jpg" alt="meditation" />
    Modalities for creating this transformation may include movement, colour, light, sound, breathing patterns, acupressure points as well as many others.</p>

<p>The underlying principles of Resonance Repatterning® are not new, having been taught in the ancient wisdom of India and other cultures, but what is exciting is that these ideas are now being validated through Scientific research in Quantum Physics.</p>

<p>
    To experience a session for yourself contact Jeanne
    North West England 07804471934 or using the <a href="/contact/" >contact</a> page
    
    
</p>

<p>The trademark Resonance Repatterning&reg; is used under license from Chloe Faith Wordsworth who over a 25 year period of studying and practising many healing systems synthesised this new and dynamic system for positive change by applying her training in Acupuncture, Polarity therapy, Brain integration and other healing systems along with her knowledge of Psychology, Physics, Sound frequencies and the Holographic model.</p>
</div>
        </main>
</Layout>