---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Testimoials"
desc="all about testimonials">
    <main>
		<div class="format lg:format-lg mx-auto">
		<h1>Testimonials</h1>
        
Testimonials
<h3>Resonance Repatterning</h3>

<p>Jeanne is low key, modest and does work that yields powerful healing results.   She works in a gentle manner and in a supportive and intuitive way.  She keeps everything confidential and is very trustworthy.  When I want to feel uplifted, see the bigger picture and need help to bring healing to my issue Jeanne is my person to call.</p>
<p>
    I recommend Jeanne highly.
    Margaret, (Tipperary, Ireland)
</p>

 <p>
     I have had a number of Resonance Repatterning sessions each year with Jeanne Wareing both at times of difficulty and at times of calm. It is an amazing process that has helped me become more “myself”; more grounded, centred, calm and content at a  very deep level.
    It has helped me change negative patterns and beliefs, not all of which I was aware of because of things that had happened to me in my life.
 </p>
<p>I love the fact that this process quickly gets rid of conscious and subconcsious held negative beliefs without having to have hours of agonising talking about painful events and it has enabled me to be clearer about what I do want in my life.</p>
<p>Through Jeanne and the amazing connection she has with you in guiding you through this process I have enjoyed spontaneous physical healing, uncovered memeories from the womb, and learnt what my purpose is. I have been helped by Jeanne to move beyond the vibrating effect of different memories and have enjoyed real feelings of bliss in and after sessions.</p>
<p>
    Resonance Repatterning is a truly transformative process and I highly recommend you to try it for yourself.
    Anne (Liverpool)
</p>
<h3>Metamorphic Technique</h3>
<p>You may have heard or read about it; you may wish to explore a little further but are not sure; I was just like that when I made my first appointment with Jeanne 10 years ago and yes, I can say it changed my life for the better and continues to do so!</p>
<p>
    Immediately you meet Jeanne you can “rest easy”, safe in the knowledge that you are in the hands of a thoughtful, caring and very experienced practitioner.
    Ah you say, but will I benefit from this technique? A session with Jeanne will answer your question as it did for me.
</p>
<p>Trevor. (Clitheroe Lancashire)</p>
<h3>Resonance Repatterning</h3>
<p>
    “The best way to describe having a session with Jeanne is amazing!”
    “The greatest gift I can give to myself is to have a session with Jeanne.”
    “Whether I have a session with Jeanne in person, over the phone or on Skype the results are just as amazing and effective every time.”
</p>
<p>
    “Over the years I have tried every therapy out there but I can honestly say that none have worked as quickly, or effortlessly as a  1 or 2 hour session with Jeanne.
    I am a mother of four and a busy entrepeneur and when life throws me a challenge, be that  physical, emotional or Spiritual I know that the quickest and most successful way of dealing with it is to have a session with Jeanne.
</p>
<p>
    It never fails to get right to the root of the problem and by the end of the session I always experience a positive shift in my energy, leaving me feeling more at ease, lighter and dare I say it -Joyous!”
    “I used to have a session with Jeanne when things were a bit, “off” in my life but it has worked for me so successfully that now I will have a session just because it feels so good.”
</p>
<p>Siobhan  (Tipperary. Ireland)</p>
<h3>Resonance Repatterning</h3>
<p>
    I have known and experienced Jeanne’s sessions over many years now, both Metamorphic Technique and Resonance Repatterning.
    Whatever I present for healing, I know without a doubt that Jeanne’s unconditional love of her work and her authentic self will always shine through.
</p>
<p>
    I have faith and therefore trust that Jeanne will hold the space for me with healthy boundaries.
    I know that whatever presents itself, I always feel reassured, knowing I can surrender into my personal journey of change and transformation which is supported by Jeanne’s abilities of communication, support and healing, using the amazing techniques at all times. Jeanne’s intuitive and healing abilities are always present as well as the calming influence she holds. The depth of knowledge of her work creates  reassurance that I am safe in the presence of her hands.
</p>
<p>Debbie. (Cranial Therapist. UK)</p>
<p>
    I came across Jeanne Wareing and Resonance Repatterning several years ago.
    Using a series of muscle testing and a range of various methods Jeanne helped me facilitate a shift of my energy vibrations from that of dissonance to resonance and freedom, allowing me to move from a place of ‘stuckness’ to one of freedom and the desire to ‘dance with life’.
    A powerful technique and a gifted practitioner that puts you at ease with her confident and calm approach.
</p>
<p>T.H. (Liverpool.)</p>

 

 

<p>Thank you so much!  After every session you gave me, I could feel that  ‘something’ was changing or going better and my self confidence improved.</p>

<p>Pauly .Costa del Sol. Spain</p>


        </div>
        </main>
</Layout>