---
const d = new Date();
let year = d.getFullYear();
---
<footer class="mt-6">
    <hr>
    <div class="flex justify-center my-4">
        <img width="100" src="/img/blossom.jpg" alt="only wellbeing"/>
    </div>
    <div class="flex justify-center my-4">              
            <span class="mx-2"><a href="/contact/" >Contact</a></span>
            <span class="mx-2"><a href="/privacy-policy/" >Privacy Policy</a></span>
            <span class="mx-2"><a href="/cookie-policy/" >Cookie Policy</a></span>        
    </div>
    <div class="flex justify-center">
        <p>&copy 2010 - {year} Only Wellbeing - All rights reserved</p>
    </div>
</footer>