---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import '../assets/styles/base.css'

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={desc} />
	</head>
	<body>
		<div class="container">
		<Header />
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
		<Footer />
		</div>
	</body>
</html>

